<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<form method="POST" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <div style="color: red" th:if="${param.error}">
        Неправильное имя пользователя или пароль
    </div>

    <label for="username"> Введите имя пользователя:
        <input type="text" id="username" name="username">
    </label><br>

    <label for="password">Введите пароль:
        <input type="password" id="password" name="password">
    </label><br>

    <input type="submit" value="Войти">
</form>

</body>
</html>