<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <h1>Изменение данных</h1>
    <form th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}" th:object="${user}">
        <label for="email">Введите email:</label>
        <input th:field="*{email}" type="text" id="email"><br>

        <label for="password">Введите пароль:</label>
        <input th:field="*{password}" type="password" id="password"><br>

        <label for="firstName">Введите имя:</label>
        <input th:field="*{firstName}" type="text" id="firstName"><br>

        <label for="firstName">Введите фамилию:</label>
        <input th:field="*{lastName}" type="text" id="lastName"><br>

        <label for="age">Введите возраст:</label>
        <input th:field="*{age}" type="text" id="age"><br>

        <label for="selectedRoles">Выберите роль:
            <select id="selectedRoles" name="selectedRoles" th:field="*{roles}">
                <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
            </select>
        </label><br>

        <input type="submit" value="Сохранить">
    </form>

</body>
</html>