<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="style.css">
    <title>Список пользователей</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <h1>Список пользователей</h1>
    <table>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>E-mail</th>
        <th>Роль</th>
        <th>Действие</th>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <div th:each="role : ${user.getRoles()}">
                    <div th:text="${role.getName()} + ' '"></div>
                </div>
            </td>
            <td>
                <div>
                    <a style="float: left" th:href="@{admin/edit(id=${user.getId()})}">Изменить</a>
                </div>

                <form style="float: right" th:method="POST" th:action="@{admin/remove(id=${user.getId()})}">
                    <input type="submit" value="Удалить">
                </form>
            </td>

        </tr>
    </table>
    <br>
    <a href="admin/new">Добавить</a>
</body>
</html>