<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <title>User page</title>
</head>
<body>
<!-- Верхнаяя навигационная панель -->
<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow text-white" data-bs-theme="dark">
    <div class="navbar-text d-inline-flex text-white" style="font-size: large">
        <strong class="mb-0 me-2 ms-3" id="nav-username"></strong>
        <span class="me-1" style="font-size: large">with roles:</span>
        <span id="nav-roles">
        </span>
    </div>
    <form method="POST" action="/logout" class="d-flex">
        <button class="btn navbar-text" type="submit">Logout</button>
    </form>
</header>

<div class="container-fluid bg-light">
    <div class="row ">
        <!-- Левый сайдбар -->
        <div class="sidebar col-md-3 col-lg-2 p-0 bg-white full-height">
            <ul class="nav flex-column nav-pills mt-3">
                <li class="nav-item" id="link-admin">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">User</a>
                </li>
            </ul>
        </div>
        <!-- Основной контент -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1 class="pt-3 pb-2 mb-3 h1">User information-page</h1>

            <div class="card">
                <div class="card-header">
                    <h5 class="h5 mb-0 p-1">About user</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td class="pt-3" >ID</td>
                            <td class="pt-3" >First name</td>
                            <td class="pt-3" >Last name</td>
                            <td class="pt-3" >Age</td>
                            <td class="pt-3" >Email</td>
                            <td class="pt-3">
                                <span >
                                    <span>role</span>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/user.js"></script>

</body>
</html>